.box-links {
    border-radius: 10px;
    background-color: RGB(239, 192, 80);
    border: none;
    height:30px;
    border-radius: 10px;
    width: 100px;
    margin: 20px;
    font-family: 'Dongle', sans-serif;
    font-size: x-large;
}

#box-options-box {
    z-index: 2;
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,0.7);
    box-shadow: 0px 0px 4px 0px rgba(255,255,255,0.7);
    justify-content: center;
    align-items: center;
    width: 100px;
    border-radius: 20px;
    padding: 50px;
    overflow: hidden; 
}

#box-main-div {
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 300px;
    margin:2% auto
}