.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow {
    position: absolute;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}  

#signin-container {
    background-color: rgba(255,255,255,0.7);
    box-shadow: 0px 0px 4px 0px rgba(255,255,255,0.7);
    width: 22%;
    margin: 5% auto;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;
    height: 75%;
}

#firstname-container {
    border-radius: 10px;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.1);
    padding: 2%;
}

#lastname-container {
    border-radius: 10px;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.1);
    padding: 2%;
}

#user-name-container {
    border-radius: 10px;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.1);
    padding: 2%;
}

#password_container {
    border-radius: 10px;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.1);
    padding: 2%;
}

#mail-container {
    border-radius: 10px;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.1);
    padding: 2%;
}