#game-board {
    display:grid;
    grid-template-columns:repeat(3,23vh);
    background-color:rgba(68, 184, 172);
    width: 66vh;
    margin:3% auto;
    padding:1vw;
    border-radius: 10px;
}

#game-board div{
    grid-template-columns:repeat(3,6vh);
}

input[type=number]::-webkit-inner-spin-button {
    appearance: none;
}

input[type=number] {
    background-color:rgba(255, 255, 255,0.5);
    caret-color: transparent;
    appearance:none;
    max-width: 5vh;
    max-height: 5vh;
    min-width:4.5vh;
    min-height:4.5vh;
    margin:0.5%;
    text-align:center
}

.game-options {
    border-radius: 10px;
    background-color: rgba(255, 255, 255,0.5);
    border: none;
    height:30px;
    border-radius: 10px;
    height: 100px;
    width: 50px;
    margin: 20px;
    font-family: 'Dongle', sans-serif;
    font-size: x-large;
}

#game-options-container {
    border-radius: 10px;
    background-color: rgba(255, 255, 255,0.5);
    border: none;
    height:30px;
    border-radius: 10px;
    height: 420px;
    width: 50px;
    margin: 20px;
    font-family: 'Dongle', sans-serif;
    font-size: x-large;
}