table {
    margin: 0 auto;
}

table td, table th {
    padding: 0 5vw;
    text-align: center;
    box-shadow: 0 0 3px;
    width: 20%;
    transition: 0.2s;
}

table thead {
    background-color: rgba(255,255,255,0.3);
}

table tr {
    transition: 0.2;
}

table tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

table td:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transform: scaleY(1.05);
}

#leaderboard-container {
    height: 90vh;
    text-align: center;
    border-bottom:solid black 1px;
    border-top:solid black 1px;
    border-radius:10px;
    padding:10px;
    margin: 1vw;
    overflow-y:auto;
    overflow-x: hidden;
}

#leaderboard-container::-webkit-scrollbar {
    appearance: hidden;
}